/protected/runtime
/assets
/photos
/protected/config/db.php
/protected/config/site.conf
/protected/config/s.conf
/test
test.php
index.php
*.txt
robots.txt
/nbproject/private/
/protected/conponents/yii-aws
/amazon