Options -Indexes
AddType text/x-component .htc
AddDefaultCharset utf-8

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.jpg|\.JPG|\.gif|\.GIF|\.jpeg|\.JPEG|\.png|\.PNG)$
RewriteRule ^(.*)$ index.php [L]